@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --TextoPrincipal-color: #FFFFFF;
    --TextoSecundario-color: #F9F9F9;    
}

body {
    background-color: #00030C;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*overflow-x: hidden; /* Impede transbordamento horizontal */
}

.principal {
    display: flex;
    background-image: url(../Assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain; /* Ajusta a imagem ao tamanho da tela */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Define a altura como a altura total da tela */
    width: 100vw;
}
.principal__conteudo {
    color: var(--TextoPrincipal-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 22px;
}

.principal__conteudo > h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    width: 595px;
    margin-left: 50px;
}

.principal__conteudo__planos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 307px;
    gap: 16px;
}

.principal__imagem {
    margin-bottom: 16px;
}

.principal__conteudo__planos > p {
    color: #C0C0C0;
    opacity: 80%;
}

.principal__conteudo__botao1 {
    text-decoration: none;
    color: var(--TextoPrincipal-color);
    width: 512px;
    height: 56px;
    background-color: #167BF7;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.principal__conteudo__botao2 {
    text-decoration: none;
    color: var(--TextoPrincipal-color);
    width: 512px;
    height: 56px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    padding: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.segundaSecao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    height: 70vh;
}

.segundaSecao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 588px;
    height: 114px;
    gap: 8px;
}

.segundaSecao__conteudo > h1 {
    color: var(--TextoPrincipal-color);
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.segundaSecao__conteudo > p {
    color: var(--TextoSecundario-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
}

.terceiraSecao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    height: 70vh;
}

.terceiraSecao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.terceiraSecao__conteudo > p {
    color: var(--TextoPrincipal-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
    width: 588px;
}

.terceiraSecao__botao {
    text-decoration: none;
    color: var(--TextoPrincipal-color);
    height: 56px;
    background-color: #167BF7;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.quartaSecao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    height: 70vh;
}

.quartaSecao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 588px;
    height: 114px;
    gap: 8px;
}

.quartaSecao__conteudo > h1 {
    color: var(--TextoPrincipal-color);
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.quartaSecao__conteudo > p {
    color: var(--TextoSecundario-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
}

.quintaSecao {
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 56px;
    margin-top: 100px;
}

.menu__dispositivos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quintaSecao > h1 {
    color: var(--TextoPrincipal-color);
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.dispositivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--TextoPrincipal-color);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.dispositivos > img {
    width: 339px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.rodape__menu > a {
    text-decoration: none;
    color: var(--TextoPrincipal-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}

.rodape > p {
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 80%;
}